:root {
  --primary-rose: #f72585;
  --secondary-rose: #fb92c2;
  --tertiary-rose: #7c1343;
  --primary-grape: #7209b7;
  --secondary-grape: #b984db;
  --tertiary-grape: #39055c;
  --primary-zaffre: #3a0ca3;
  --secondary-zaffre: #9d86d1;
  --tertiary-zaffre: #1d0652;
  --primary-neon-blue: #4361ee;
  --secondary-neon-blue: #a1b0f7;
  --tertiary-neon-blue: #223177;
  --primary-vivid-blue: #4cc9f0;
}

* {
  box-sizing: border-box;
  font-family: 'Nova Square', 'Quicksand', 'Rubik Bubbles';
}

html,
body {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid:
    'header forecast' 1fr
    'today forecast' 9fr
    / 1fr 1fr;
  background: url('../images/topography.svg');
  background-color: #9d86d1;
}

.header {
  grid-area: header;
  place-self: stretch start;
  gap: 0.5rem;
  padding: 0.5rem;
  min-width: 520px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  background-color: var(--primary-zaffre);
  border-bottom: 4px solid var(--tertiary-zaffre);
  border-right: 4px solid var(--tertiary-zaffre);
  border-radius: 0px 0px 4px 0px;
  box-shadow: 0px 0px 4px 0px var(--primary-zaffre);
}

.logo-container {
  place-self: center;
  display: grid;
  padding: 0 1rem;
}

.logo {
  box-sizing: content-box;
  place-self: center;
  height: 64px;
  width: auto;
}

.temp-toggle-container {
  place-self: center start;
  display: grid;
}

.temp-toggle {
  place-self: center;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
}

.temp-toggle__checkbox {
  display: none;
}

.temp-toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondary-neon-blue);
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  border: 4px solid var(--tertiary-neon-blue);
  box-shadow: 0px 0px 2px var(--tertiary-neon-blue);
}

.temp-toggle__slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 5px;
  bottom: 5px;
  background-color: var(--primary-neon-blue);
  border: 2px solid var(--tertiary-neon-blue);
  border-radius: 20%;
  transition: all 0.4s ease-in-out;
  transform: rotate(45deg);
  box-shadow: 0px 0px 2px var(--tertiary-neon-blue);
}

.temp-toggle__checkbox:checked + .temp-toggle__slider {
  background-color: var(--secondary-grape);
  border: 4px solid var(--tertiary-grape);
  box-shadow: 0px 0px 2px var(--tertiary-grape);
}

.temp-toggle__checkbox:checked + .temp-toggle__slider::before {
  transform: translateX(50px) rotate(45deg);
  background-color: var(--primary-grape);
  border: 2px solid var(--tertiary-grape);
  box-shadow: 0px 0px 2px var(--tertiary-grape);
}

.temp-toggle__celsius {
  position: absolute;
  z-index: 1;
  left: 14px;
  top: 14px;
  color: var(--secondary-neon-blue);
  transition-delay: 0.3s;
  cursor: pointer;
}

.temp-toggle__checkbox:checked ~ .temp-toggle__celsius {
  opacity: 0;
  transition-delay: 0s;
}

.temp-toggle__fahrenheit {
  position: absolute;
  z-index: 1;
  right: 17px;
  top: 14px;
  color: var(--secondary-grape);
  opacity: 0;
  transition-delay: 0s;
  cursor: pointer;
}

.temp-toggle__checkbox:checked ~ .temp-toggle__fahrenheit {
  opacity: 1;
  transition-delay: 0.3s;
}

.search-container {
  place-self: center;
}

.search {
  border: 4px solid var(--tertiary-neon-blue);
  border-radius: 4px;
  height: 2.5rem;
  width: 15rem;
}

.search:focus {
  outline: 0;
  box-shadow: 0px 0px 4px 2px var(--primary-rose);
  border-radius: 4px;
}

.search__icon {
  color: var(--primary-rose);
  cursor: pointer;
  border: 4px solid var(--primary-neon-blue);
  border-radius: 4px;
  background-color: var(--secondary-neon-blue);
  padding: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.search__icon:hover {
  transform: scale(0.9);
}

.search__icon:active {
  transform: scale(1.2);
  background-color: var(--secondary-rose);
  border: 4px solid var(--tertiary-rose);
}

.today-container {
  place-self: center;
  display: grid;
  row-gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--secondary-zaffre);
  border: 4px solid var(--tertiary-zaffre);
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px var(--primary-zaffre);
  max-width: 600px;
  min-width: 370px;
}

.metric {
  color: var(--secondary-neon-blue);
  text-shadow: 1px 1px 2px var(--tertiary-neon-blue);
}

.imperial {
  color: var(--secondary-grape);
  text-shadow: 1px 1px 2px var(--tertiary-grape);
}

.fahrenheit {
  color: var(--secondary-grape);
  text-shadow: 1px 1px 2px var(--tertiary-grape);
}

.celsius {
  color: var(--secondary-neon-blue);
  text-shadow: 1px 1px 2px var(--tertiary-neon-blue);
}

.wi-celsius {
  color: var(--secondary-neon-blue);
  text-shadow: 1px 1px 2px var(--tertiary-neon-blue);
}

.wi-fahrenheit {
  color: var(--secondary-grape);
  text-shadow: 1px 1px 2px var(--tertiary-grape);
}

.today-container__flex-container-1 {
  display: grid;
  grid-template-columns: auto 1fr;
}

.today-container__title {
  place-self: center start;
  margin: 0;
  font-size: 2rem;
  color: var(--primary-rose);
  text-shadow: 1px 1px 2px var(--tertiary-neon-blue);
}

.today-container__local-time {
  place-self: center end;
  display: grid;
  place-content: center;
  margin: 0;
  font-size: 1.5rem;
  height: 50px;
  width: 130px;
  border: 4px solid var(--tertiary-neon-blue);
  background-color: var(--secondary-grape);
  box-shadow: 0px 0px 4px 0px var(--primary-neon-blue);
  padding: 0.5rem;
  border-radius: 4px;
}

.today-container__flex-container-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.today-container__location-name {
  margin: 0;
  font-size: 2rem;
  text-underline-offset: 9px;
  text-shadow: 1px 1px 2px var(--primary-rose);
}

.today-container__last-updated {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.today-container__last-updated-title {
  margin: 0;
  font-size: 0.7rem;
  place-self: center start;
  text-decoration: 2px black underline;
}

.today-container__last-updated-value {
  margin: 0;
  font-size: 1rem;
  place-self: start center;
}

.today-container__flex-container-3 {
  display: grid;
  grid:
    'temp temp feel feel'
    'flex flex flex flex';
}

.today-container__inner-flex-container {
  grid-area: flex;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.today-container__icon {
  height: 96px;
  width: auto;
}

.today-container__desc {
  margin: 0;
}

.today-container__temp {
  grid-area: temp;
  display: grid;
  grid:
    'title .'
    'value icon';
}

.today-container__temp-title {
  grid-area: title;
  margin: 0;
  font-size: 1.5rem;
  place-self: end;
  margin-right: 1rem;
}

.today-container__temp-value {
  grid-area: value;
  margin: 0;
  font-size: 3rem;
  place-self: center end;
  margin-right: 1rem;
}

.today-container__temp-icon {
  grid-area: icon;
  place-self: center start;
  font-size: 3rem;
}

.today-container__feels-like {
  grid-area: feel;
  display: grid;
  grid:
    'title .'
    'value icon';
}

.today-container__feels-like-title {
  grid-area: title;
  margin: 0;
  font-size: 1.5rem;
  place-self: end;
  margin-right: 1rem;
}

.today-container__feels-like-value {
  grid-area: value;
  margin: 0;
  font-size: 3rem;
  margin-right: 1rem;
  place-self: center end;
}

.today-container__feels-like-icon {
  grid-area: icon;
  place-self: center start;
  font-size: 3rem;
}

.today-container__flex-container-4 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.today-container__wind {
  display: grid;
}

.today-container__wind-icon {
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__wind-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.today-container__wind-dir {
  display: grid;
}

.today-container__wind-dir-icon {
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__wind-dir-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.today-container__precip {
  display: grid;
}

.today-container__precip-icon {
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__precip-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.today-container__humidity {
  display: grid;
}

.today-container__humidity-icon {
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__humidity-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.today-container__cloud-cov {
  display: grid;
}

.today-container__cloud-cov-icon {
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__cloud-cov-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.today-container__uv {
  display: grid;
}

.today-container__uv-icon {
  margin: 0;
  font-size: 2rem;
  place-self: center;
  text-shadow: 1px 1px 1px var(--primary-rose);
}

.today-container__uv-value {
  place-self: end center;
  margin: 0;
  font-size: 2rem;
}

.forecast-container {
  grid-area: forecast;
  place-self: center stretch;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 3rem;
}

.forecast-day {
  display: grid;
  grid-template-areas:
    'icon avgTemp extTemps date'
    'icon avgTemp extTemps extInfo';
  background-color: var(--secondary-zaffre);
  border: 4px solid var(--tertiary-zaffre);
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px var(--primary-zaffre);
  max-width: 600px;
  min-width: 500px;
  max-height: 200px;
  min-height: 170px;
}

.forecast-day__date {
  place-self: start end;
  text-decoration: 2px solid underline;
  text-underline-offset: 0.25rem;
  text-shadow: 1px 1px 1px var(--primary-neon-blue);
  margin: 1.5rem 1.5rem 1.5rem 0;
}

.forecast-day__image {
  grid-area: icon;
  place-self: center;
  transform: scale(1.5);
}

.forecast-day__avg-temp {
  grid-area: avgTemp;
  place-self: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forecast-day__avg-temp-value {
  font-size: 2.5rem;
}

.forecast-day__avg-temp-icon {
  font-size: 3.5rem;
}

.forecast-day__ext-temps {
  grid-area: extTemps;
  place-self: center;
}

.forecast-day__max-temp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forecast-day__max-temp-value {
  font-size: 1rem;
}

.forecast-day__max-temp-icon {
  font-size: 1.5rem;
}

.forecast-day__min-temp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forecast-day__min-temp-value {
  font-size: 1rem;
}

.forecast-day__min-temp-icon {
  font-size: 1.5rem;
}

.forecast-day__ext-info {
  grid-area: extInfo;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 1rem;
}

.forecast-day__avg-humidity {
  margin: 0;
  place-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.forecast-day__avg-humidity-value {
  margin: 0;
}

.forecast-day-avg-humidity-icon {
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--primary-neon-blue);
}

.forecast-day__daily-chance-rain {
  margin: 0;
  place-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 60px; 
}

.forecast-day__daily-chance-rain-value {
  margin: 0;
}

.forecast-day__daily-chance-rain-icon {
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px var(--primary-neon-blue);
}

.forecast-day__max-wind {
  margin: 0;
  place-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.forecast-day__max-wind-value {
  margin: 0;
}

.forecast-day__max-wind-icon {
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--primary-neon-blue);
}
